<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <main>

                <!-- Anfang Formular -->
                <form id="form-new-recipe" class="form" action="/create-edit-submit" method="POST" enctype="multipart/form-data">

                    <h1><%= title %></h1>

                    <!-- Creation or Edit -->
                    <div style="display: none" class="input-control">
                        <input type="text" id="mode" name="mode" value='<%= (typeof recipe === "undefined") ? "create" : recipe._id %>'>
                    </div>
                    <!-- Recipe Name -->
                    <div class="input-control">
                        <label for="name">Recipe Name:</label>
                        <input type="text" id="name" name="name" value='<%= (typeof recipe === "undefined") ? "" : recipe.name %>'>
                        <div class="errormessage"></div>
                    </div>
                    <div class="input-control">
                        <label>Upload Recipe Picture (optional):</label>
                        <label for="image" class="no-linebreak"><span id="upload-icon"></span> Upload</label>
                        <input type="file" id="image" name="image">
                        <div upload-status="error"></div>
                    </div>
                    <!-- Difficulty of preparing this dish -->
                    <div class="input-control">
                        <label for="difficulty">Difficulty:</label>
                        <select name="difficulty" id="difficulty" size="1">
                            <option value="easy" <% if(typeof recipe !== "undefined" && recipe.difficulty === "easy"){ %> selected <% } %>>Easy</option>
                            <option value="medium" <% if(typeof recipe !== "undefined" && recipe.difficulty === "medium"){ %> selected <% } %>>Medium</option>
                            <option value="hard" <% if(typeof recipe !== "undefined" && recipe.difficulty === "hard"){ %> selected <% } %>>Hard</option>
                            <option value="chef" <% if(typeof recipe !== "undefined" && recipe.difficulty === "chef"){ %> selected <% } %>>Chef</option>
                        </select>
                        <div class="errormessage"></div>
                    </div>
                    <!-- Estimated time of preparation of the dish -->
                    <div class="input-control">
                        <label for="preparation_time">Estimated Total Preparation Time (min):</label>
                        <input type="text" id="preparation_time" name="preparation_time" value='<%= (typeof recipe === "undefined") ? "" : recipe.preparation_time %>'>
                        <div class="errormessage"></div>
                    </div>
                    <div class="input-control">
                        <label for="full_recipe">Full Recipe:</label>
                        <textarea id="full_recipe" name="full_recipe"><%= (typeof recipe === "undefined") ? "" : recipe.full_recipe %></textarea>
                        <div class="errormessage"></div>
                    </div>

                    <!-- Formular absenden -->
                    <button type="submit"><%= edit_create %> Recipe</button>

                </form> <!-- Formular Ende -->


            </main>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>