<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <h1><%= title %></h1>

            <% if(recipes.length > 0) { %>
                <% recipes.forEach(recipe => { %>
                    <a class="recipe" href="/recipe/<%= recipe._id %>">
                        <div class="recipe-image">
                            <img style="width: 100%; aspect-ratio: 1;" src="<%= recipe.image_link %>" alt="">
                        </div>
                        <% if( typeof currentUser != 'undefined' && recipe.created_by == currentUser.userid) { %>
                        <div class="edit_delete">
                            <a id="edit" href="/recipe/edit/<%= recipe._id %>">Edit</a>
                            <a id="delte" href="/recipe/delete/<%= recipe._id %>">Delete</a>
                        </div>
                        <% } %>
                        <% if( typeof currentUser != 'undefined' && recipe.created_by != currentUser.userid ) { %>
                            <% if( !currentUser.saved_recipes.includes(recipe._id) ) { %>
                            <div class="save_container">
                                <a id="save" href="/recipe/save/<%= recipe._id %>">Save</a>
                            </div>
                        <% } else { %>
                            <div class="save_container">
                                <a id="unsave" href="/recipe/unsave/<%= recipe._id %>">Unsave</a>
                            </div>
                        <% } } %>
                        <div class="recipe-info">
                            <h2><%= recipe.name %></h2>
                            <p>Author Rating: <%= recipe.author_rating %></p>
                            <p>Public Rating: <%= recipe.public_rating %></p>
                            <p>Preparation Time: <%= recipe.preparation_time %> min</p>
                            <% if( typeof users != 'undefined') { %>
                            <% let username = '"deleted user"'; users.forEach(user => { if(user._id == recipe.created_by){ username = user.username}});%>
                            <p>Created by <%= username %></p>
                            <% } %>
                        </div>
                    </a>
                <% }); %>
            <% } else {%>
                <br>
                <h2>No recipes found...</h2>
            <% } %>
    
    
    <%- include('./partials/footer.ejs') %>

</body>
</html> 