<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <main>
                <h1>
                    <%= title %>
                </h1>

                <div class="grid-container-recipes">
                    <% if(recipes.length> 0) { %>
                        <% recipes.forEach(recipe=> { %>
                            <div class="recipe">
                                <a class="flex-container-recipe" href="/recipe/display/<%= recipe._id %>">
                                    <div class="recipe-image">
                                        <img style="width: 100%; aspect-ratio: 1;" src="<%= recipe.image_link %>"
                                            alt="">
                                    </div>
                                    <div class="recipe-info">
                                        <h2>
                                            <%= recipe.name %>
                                        </h2>
                                        <p>Rating: <%= recipe.rating %>
                                        </p>
                                        <p>Preparation Time: <span class="no-linebreak">
                                                <%= recipe.preparation_time %> min
                                            </span></p>
                                        <p>Difficulty: <%= recipe.difficulty %>
                                        </p>
                                        <% if( typeof users !='undefined' ) { %>
                                            <% let username='"deleted user"' ; users.forEach(user=> { if(user._id ==
                                                recipe.created_by){ username = user.username}});%>
                                                <p>Created by <%= username %>
                                                </p>
                                                <% } %>
                                    </div>
                                </a>
                                <% if( typeof currentUser !='undefined' && recipe.created_by==currentUser.userid ) { %>
                                    <div class="recipe-actions">
                                        <a id="edit" href="/recipe/edit/<%= recipe._id %>"></a>
                                        <a id="delete" href="/recipe/delete/<%= recipe._id %>"></a>
                                    </div>
                                    <% } %>
                                        <% if( typeof currentUser !='undefined' && recipe.created_by
                                            !=currentUser.userid ) { %>
                                            <div class="recipe-actions">
                                                <% if( !currentUser.saved_recipes.includes(recipe._id) ) { %>
                                                    <a id="save" href="/recipe/save/<%= recipe._id %>"></a>
                                                    <% } else { %>
                                                        <a id="unsave" href="/recipe/unsave/<%= recipe._id %>"></a>
                                                        <% } %>
                                            </div>
                                            <% } %>
                            </div>
                            <% }); %>
                </div>
                <% } else {%>
                    <br>
                    <h2>No recipes found...</h2>
                    <% } %>

            </main>


            <%- include('./partials/footer.ejs') %>

    </body>

</html>