<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <h1>Most Recently Created Recipes</h1>

            <% if(recipes.length > 0) { %>
                <% recipes.forEach(recipe => { %>
                    <a class="recipe" href="/recipe/<%= recipe._id %>">
                        <div class="recipe-image">
                            <img src="<%= recipe.image_link %>"" alt="">
                        </div>
                        <div class="recipe-info">
                            <h2><%= recipe.name %></h2>
                            <p>Author Rating: <%= recipe.author_rating %></p>
                            <p>Public Rating: <%= recipe.public_rating %></p>
                            <p>Preparation Time: <%= recipe.preparation_time %> min</p>
                            <% let username = '"deleted user"'; users.forEach(user => { if(user._id == recipe.created_by){ username = user.username}});%>
                            <p>Created by <%= username %></p>
                        </div>
                    </a>
                <% }); %>
            <% } %>
    
    
    <%- include('./partials/footer.ejs') %>

</body>
</html> 